@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background: #080808;
  color: white;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #0d0d0d;
}
::-webkit-scrollbar-thumb {
  background: #1a1a1a;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff6600;
}
